<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <!--<classPathEntry location="lib/mysql-connector-java-5.1.46.jar" />-->

    <context id="DB2Tables" targetRuntime="MyBatis3">
        <!-- 自动识别数据库关键字，默认false，如果设置为true，根据SqlReservedWords中定义的关键字列表；
      一般保留默认值，遇到数据库关键字（Java关键字），使用columnOverride覆盖
   -->
        <property name="autoDelimitKeywords" value="false"/>
        <!-- 生成的Java文件的编码 -->
        <property name="javaFileEncoding" value="UTF-8"/>
        <!-- 格式化java代码 -->
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <!-- 格式化XML代码 -->
        <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>

        <!-- beginningDelimiter和endingDelimiter：指明数据库的用于标记数据库对象名的符号，比如ORACLE就是双引号，MYSQL默认是`反引号； -->
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>

        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <!--数据库链接地址账号密码-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://127.0.0.1:3306/empmanager" userId="root"
                        password="123456">
        </jdbcConnection>


        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <!--生成Model类存放位置-->
        <javaModelGenerator targetPackage="com.alochol.empmanagerserver.mybatis.model" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!--生成映射文件存放位置-->
        <sqlMapGenerator targetPackage="mybatis" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!--生成Dao类存放位置-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.alochol.empmanagerserver.mybatis.dao"
                             targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>


        <!--<table tableName="tb_menu" domainObjectName="SideMenu" enableCountByExample="true" enableUpdateByExample="true" enableDeleteByExample="true" enableSelectByExample="true" selectByExampleQueryId="true">-->
        <!--<property name="useActualColumnNames" value="true"/>-->
        <!--</table>-->
        <!--<table tableName="tb_role" domainObjectName="SysRole" enableCountByExample="true" enableUpdateByExample="true" enableDeleteByExample="true" enableSelectByExample="true" selectByExampleQueryId="true">-->
            <!--<property name="useActualColumnNames" value="true"/>-->
            <!--<generatedKey column="id" sqlStatement="select  replace(uuid(),'-','')   from dual"/>-->
        <!--</table>-->
        <!--<table tableName="tb_role_access" domainObjectName="RoleAccess" enableCountByExample="true" enableUpdateByExample="true" enableDeleteByExample="true" enableSelectByExample="true" selectByExampleQueryId="true">-->
        <!--<property name="useActualColumnNames" value="true"/>-->
        <!--</table>-->
        <!--生成对应表及类名-->


        <!--<table tableName="tb_role" domainObjectName="SysRole" enableCountByExample="true" enableUpdateByExample="true" enableDeleteByExample="true" enableSelectByExample="true" selectByExampleQueryId="true">-->
        <!--<property name="useActualColumnNames" value="true"/>-->
        <!--</table>-->
        <!--<table tableName="tb_access" domainObjectName="ModuleAccess" enableCountByExample="true"-->
        <!--enableUpdateByExample="true" enableDeleteByExample="true" enableSelectByExample="true"-->
        <!--selectByExampleQueryId="true">-->
        <!--<property name="useActualColumnNames" value="true"/>-->
        <!--</table>-->
        <!--<table tableName="tb_menu" domainObjectName="SideMenu" enableCountByExample="true" enableUpdateByExample="true" enableDeleteByExample="true" enableSelectByExample="true" selectByExampleQueryId="true">-->
        <!--<property name="useActualColumnNames" value="true"/>-->
        <!--</table>-->
        <!--<table tableName="tb_user" domainObjectName="SysUser" enableCountByExample="true" enableUpdateByExample="true" enableDeleteByExample="true" enableSelectByExample="true" selectByExampleQueryId="true">-->
        <!--&lt;!&ndash; 如果设置为true，生成的model类会直接使用column本身的名字，而不会再使用驼峰命名方法，比如BORN_DATE，生成的属性名字就是BORN_DATE,而不会是bornDate &ndash;&gt;-->
        <!--<property name="useActualColumnNames" value="true"/>-->
        <!--<generatedKey column="id" sqlStatement="select  replace(uuid(),'-','')   from dual"/>-->
        <!--</table>-->
        <!--<table tableName="tb_corp" domainObjectName="Department" enableCountByExample="true" enableUpdateByExample="true" enableDeleteByExample="true" enableSelectByExample="true" selectByExampleQueryId="true">-->
        <!--<property name="useActualColumnNames" value="true"/>-->
        <!--<generatedKey column="id" sqlStatement="select  replace(uuid(),'-','')   from dual"/>-->
        <!--</table>-->
        <!--<table tableName="tb_organization" domainObjectName="Organization" enableCountByExample="true" enableUpdateByExample="true" enableDeleteByExample="true" enableSelectByExample="true" selectByExampleQueryId="true">-->
        <!--<property name="useActualColumnNames" value="true"/>-->
        <!--<generatedKey column="id" sqlStatement="select  replace(uuid(),'-','')   from dual"/>-->
        <!--</table>-->
        <!--<table tableName="tb_SysUser" domainObjectName="SysUser" enableCountByExample="true" enableUpdateByExample="true" enableDeleteByExample="true" enableSelectByExample="true" selectByExampleQueryId="true">-->
        <!--<property name="useActualColumnNames" value="true"/>-->
        <!--<generatedKey column="id" sqlStatement="select  replace(uuid(),'-','')   from dual"/>-->
        <!--</table>-->

        <!--<table tableName="tb_role_access" domainObjectName="RoleAccess" enableCountByExample="true" enableUpdateByExample="true" enableDeleteByExample="true" enableSelectByExample="true" selectByExampleQueryId="true">-->
        <!--<property name="useActualColumnNames" value="true"/>-->
        <!--</table>-->
        <!--<table tableName="tb_role_menu" domainObjectName="RoleMenu" enableCountByExample="true" enableUpdateByExample="true" enableDeleteByExample="true" enableSelectByExample="true" selectByExampleQueryId="true">-->
        <!--<property name="useActualColumnNames" value="true"/>-->
        <!--</table>-->
        <!--<table tableName="tb_user_role" domainObjectName="UserRole" enableCountByExample="true" enableUpdateByExample="true" enableDeleteByExample="true" enableSelectByExample="true" selectByExampleQueryId="true">-->
        <!--&lt;!&ndash; 如果设置为true，生成的model类会直接使用column本身的名字，而不会再使用驼峰命名方法，比如BORN_DATE，生成的属性名字就是BORN_DATE,而不会是bornDate &ndash;&gt;-->
        <!--<property name="useActualColumnNames" value="true"/>-->
        <!--<generatedKey column="id" sqlStatement="select  replace(uuid(),'-','')   from dual"/>-->
        <!--</table>-->
        <table tableName="tb_emp" domainObjectName="Employee" enableCountByExample="true" enableUpdateByExample="true" enableDeleteByExample="true" enableSelectByExample="true" selectByExampleQueryId="true">
            <!-- 如果设置为true，生成的model类会直接使用column本身的名字，而不会再使用驼峰命名方法，比如BORN_DATE，生成的属性名字就是BORN_DATE,而不会是bornDate -->
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" sqlStatement="select  replace(uuid(),'-','')   from dual"/>
        </table>
        <table tableName="tb_manager" domainObjectName="Manager" enableCountByExample="true" enableUpdateByExample="true" enableDeleteByExample="true" enableSelectByExample="true" selectByExampleQueryId="true">
            <!-- 如果设置为true，生成的model类会直接使用column本身的名字，而不会再使用驼峰命名方法，比如BORN_DATE，生成的属性名字就是BORN_DATE,而不会是bornDate -->
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" sqlStatement="select  replace(uuid(),'-','')   from dual"/>
        </table>
        <!--<table tableName="tb_user_organization" domainObjectName="UserOrganization"-->
        <!--enableCountByExample="true" enableUpdateByExample="true" enableDeleteByExample="true" enableSelectByExample="true" selectByExampleQueryId="true">-->
        <!--<property name="useActualColumnNames" value="true"/>-->
        <!--<generatedKey column="id" sqlStatement="select  replace(uuid(),'-','')   from dual"/>-->
        <!--</table>-->

    </context>
</generatorConfiguration>