<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alochol.empmanagerserver.mybatis.dao.ManagerMapper">
  <resultMap id="BaseResultMap" type="com.alochol.empmanagerserver.mybatis.model.Manager">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="mgr_name" jdbcType="VARCHAR" property="mgr_name" />
    <result column="mgr_age" jdbcType="INTEGER" property="mgr_age" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="role_id" jdbcType="TINYINT" property="role_id" />
    <result column="mgr_password" jdbcType="VARCHAR" property="mgr_password" />
    <result column="mgr_status" jdbcType="TINYINT" property="mgr_status" />
    <result column="mgr_remark" jdbcType="VARCHAR" property="mgr_remark" />
    <result column="create_id" jdbcType="VARCHAR" property="create_id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="create_date" />
    <result column="update_date" jdbcType="TIMESTAMP" property="update_date" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, mgr_name, mgr_age, gender, role_id, mgr_password, mgr_status, mgr_remark, create_id, 
    create_date, update_date
  </sql>
  <select id="selectByExample" parameterType="com.alochol.empmanagerserver.mybatis.model.ManagerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_manager
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_manager
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_manager
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.alochol.empmanagerserver.mybatis.model.ManagerExample">
    delete from tb_manager
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.alochol.empmanagerserver.mybatis.model.Manager">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      select  replace(uuid(),'-','')   from dual
    </selectKey>
    insert into tb_manager (id, mgr_name, mgr_age, 
      gender, role_id, mgr_password, 
      mgr_status, mgr_remark, create_id, 
      create_date, update_date)
    values (#{id,jdbcType=VARCHAR}, #{mgr_name,jdbcType=VARCHAR}, #{mgr_age,jdbcType=INTEGER}, 
      #{gender,jdbcType=TINYINT}, #{role_id,jdbcType=TINYINT}, #{mgr_password,jdbcType=VARCHAR}, 
      #{mgr_status,jdbcType=TINYINT}, #{mgr_remark,jdbcType=VARCHAR}, #{create_id,jdbcType=VARCHAR}, 
      #{create_date,jdbcType=TIMESTAMP}, #{update_date,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.alochol.empmanagerserver.mybatis.model.Manager">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      select  replace(uuid(),'-','')   from dual
    </selectKey>
    insert into tb_manager
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="mgr_name != null">
        mgr_name,
      </if>
      <if test="mgr_age != null">
        mgr_age,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="role_id != null">
        role_id,
      </if>
      <if test="mgr_password != null">
        mgr_password,
      </if>
      <if test="mgr_status != null">
        mgr_status,
      </if>
      <if test="mgr_remark != null">
        mgr_remark,
      </if>
      <if test="create_id != null">
        create_id,
      </if>
      <if test="create_date != null">
        create_date,
      </if>
      <if test="update_date != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=VARCHAR},
      <if test="mgr_name != null">
        #{mgr_name,jdbcType=VARCHAR},
      </if>
      <if test="mgr_age != null">
        #{mgr_age,jdbcType=INTEGER},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="role_id != null">
        #{role_id,jdbcType=TINYINT},
      </if>
      <if test="mgr_password != null">
        #{mgr_password,jdbcType=VARCHAR},
      </if>
      <if test="mgr_status != null">
        #{mgr_status,jdbcType=TINYINT},
      </if>
      <if test="mgr_remark != null">
        #{mgr_remark,jdbcType=VARCHAR},
      </if>
      <if test="create_id != null">
        #{create_id,jdbcType=VARCHAR},
      </if>
      <if test="create_date != null">
        #{create_date,jdbcType=TIMESTAMP},
      </if>
      <if test="update_date != null">
        #{update_date,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.alochol.empmanagerserver.mybatis.model.ManagerExample" resultType="java.lang.Long">
    select count(*) from tb_manager
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_manager
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.mgr_name != null">
        mgr_name = #{record.mgr_name,jdbcType=VARCHAR},
      </if>
      <if test="record.mgr_age != null">
        mgr_age = #{record.mgr_age,jdbcType=INTEGER},
      </if>
      <if test="record.gender != null">
        gender = #{record.gender,jdbcType=TINYINT},
      </if>
      <if test="record.role_id != null">
        role_id = #{record.role_id,jdbcType=TINYINT},
      </if>
      <if test="record.mgr_password != null">
        mgr_password = #{record.mgr_password,jdbcType=VARCHAR},
      </if>
      <if test="record.mgr_status != null">
        mgr_status = #{record.mgr_status,jdbcType=TINYINT},
      </if>
      <if test="record.mgr_remark != null">
        mgr_remark = #{record.mgr_remark,jdbcType=VARCHAR},
      </if>
      <if test="record.create_id != null">
        create_id = #{record.create_id,jdbcType=VARCHAR},
      </if>
      <if test="record.create_date != null">
        create_date = #{record.create_date,jdbcType=TIMESTAMP},
      </if>
      <if test="record.update_date != null">
        update_date = #{record.update_date,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_manager
    set id = #{record.id,jdbcType=VARCHAR},
      mgr_name = #{record.mgr_name,jdbcType=VARCHAR},
      mgr_age = #{record.mgr_age,jdbcType=INTEGER},
      gender = #{record.gender,jdbcType=TINYINT},
      role_id = #{record.role_id,jdbcType=TINYINT},
      mgr_password = #{record.mgr_password,jdbcType=VARCHAR},
      mgr_status = #{record.mgr_status,jdbcType=TINYINT},
      mgr_remark = #{record.mgr_remark,jdbcType=VARCHAR},
      create_id = #{record.create_id,jdbcType=VARCHAR},
      create_date = #{record.create_date,jdbcType=TIMESTAMP},
      update_date = #{record.update_date,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.alochol.empmanagerserver.mybatis.model.Manager">
    update tb_manager
    <set>
      <if test="mgr_name != null">
        mgr_name = #{mgr_name,jdbcType=VARCHAR},
      </if>
      <if test="mgr_age != null">
        mgr_age = #{mgr_age,jdbcType=INTEGER},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=TINYINT},
      </if>
      <if test="role_id != null">
        role_id = #{role_id,jdbcType=TINYINT},
      </if>
      <if test="mgr_password != null">
        mgr_password = #{mgr_password,jdbcType=VARCHAR},
      </if>
      <if test="mgr_status != null">
        mgr_status = #{mgr_status,jdbcType=TINYINT},
      </if>
      <if test="mgr_remark != null">
        mgr_remark = #{mgr_remark,jdbcType=VARCHAR},
      </if>
      <if test="create_id != null">
        create_id = #{create_id,jdbcType=VARCHAR},
      </if>
      <if test="create_date != null">
        create_date = #{create_date,jdbcType=TIMESTAMP},
      </if>
      <if test="update_date != null">
        update_date = #{update_date,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alochol.empmanagerserver.mybatis.model.Manager">
    update tb_manager
    set mgr_name = #{mgr_name,jdbcType=VARCHAR},
      mgr_age = #{mgr_age,jdbcType=INTEGER},
      gender = #{gender,jdbcType=TINYINT},
      role_id = #{role_id,jdbcType=TINYINT},
      mgr_password = #{mgr_password,jdbcType=VARCHAR},
      mgr_status = #{mgr_status,jdbcType=TINYINT},
      mgr_remark = #{mgr_remark,jdbcType=VARCHAR},
      create_id = #{create_id,jdbcType=VARCHAR},
      create_date = #{create_date,jdbcType=TIMESTAMP},
      update_date = #{update_date,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>